$colors: (
  chocolate: #792D15,
  wood: #966037,
  wood-light: #B18665,
  rust: #DC6E1A,
  beige: #FFF6EA,
  eucalyptus: #C8DFC1,
  off-white: #FAF9F6
);

@function color($name) {
  @return map-get($colors, $name);
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
  .text-bg-#{$name} {
    color: white;
    background-color: $color;
  }
}

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

@each $name, $color in $colors {
  .color-block-half-left-#{$name} {
    position: absolute;
    top: -2.5%;        /* Décalage vertical */
    left: -45%;       /* Décalage horizontal */
    width: 100%;      /* Largeur du rectangle */
    height: 105%;     /* Hauteur du rectangle */
    background-color: $color; /* Utilisation de la palette */
    z-index: 0;       /* Derrière l'image */
  }
}
@each $name, $color in $colors {
  .color-block-bottom-left-#{$name} {
    position: absolute;
    top: 20%;        /* Décalage vertical */
    left: -50%;       /* Décalage horizontal */
    width: 100%;      /* Largeur du rectangle */
    height: 82.5%;     /* Hauteur du rectangle */
    background-color: $color; /* Utilisation de la palette */
    z-index: 0;       /* Derrière l'image */
  }
}
@each $name, $color in $colors {
  .color-block-half-right-#{$name} {
    position: absolute;
    top: -2.5%;        /* Décalage vertical */
    right: -45%;       /* Décalage horizontal */
    width: 100%;      /* Largeur du rectangle */
    height: 105%;     /* Hauteur du rectangle */
    background-color: $color; /* Utilisation de la palette */
    z-index: 0;       /* Derrière l'image */
  }
}
