$colors: (
  ebony: #42180B,
  chocolate: #381E0C,
  chocolate-light: #703810,
  wood: #885A38,
  jute: #DBC8B0,
  jute-dark: #C2AC91,
  off-white: #faf9f6
);

@function color($name) {
  @return map-get($colors, $name);
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
  .text-bg-#{$name} {
    color: color(off-white);
    background-color: $color;
  }
}

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

@each $name, $color in $colors {
  .color-block-#{$name} {
    position: absolute;
    top: -1.5rem; /* Décalage vertical */
    right: 45%; /* Décalage horizontal */
    width: 100%; /* Largeur du rectangle */
    height: calc(100% + 3rem); /* Hauteur du rectangle */
    background-color: $color; /* Utilisation de la palette */
    z-index: 0; /* Derrière l'image */
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      top: -3rem; /* Décalage vertical */
      height: calc(100% + 6rem); /* Hauteur du rectangle */
    }
  }
}
