@import "vendor/rfs/scss";
@import "breakpoints";

@import "fonts";
@import "colors";

@import "navbar";

$height-navbar: 3.5rem;
.navbar {
  height: $height-navbar;
  .offcanvas-backdrop,
  .offcanvas-start {
    margin-top: $height-navbar;
  }
}
section {
  scroll-margin-top: $height-navbar;
}

.height-navbar {
  height: $height-navbar;
}

// .height-logo {
//   @include rfs(7rem, height);
//   @media (min-width: map-get($grid-breakpoints, "sm")) {
//     @include rfs(5rem, height);
//   }
//   @media (min-width: map-get($grid-breakpoints, "lg")) {
//     @include rfs(4rem, height);
//   }
// }

h2,
.h2 {
  font-family: 'Mistral';
  @include font-size(2.5rem);
}

h3,
.h3 {
  text-align: center;
  font-family: 'Noto Sans Italic';
  font-weight: 400;
  line-height: 1.5em;
  @include font-size(1.75rem);
}

.home {
  h1,
  .h1 {
    margin-bottom: 0;
    padding: 4rem 1rem;
    text-align: center;
    @include font-size(2.25rem);
  }

  h2,
  .h2 {
    margin: 0 0 1rem;
    @media (max-width: map-get($grid-breakpoints, "lg")) {
      margin-top: 3rem;
      @include font-size(3rem);
    }
  }

  h3,
  .h3 {
    margin: 0;
    padding: 2rem 3rem 4rem;
    @media (max-width: map-get($grid-breakpoints, "lg")) {
      @include font-size(1.5rem);
      padding: 2rem 3rem 3rem;
    }
  }

  p {
    text-align: start;
    font-family: 'Noto Sans';
    font-weight: 400;
    @include font-size(1rem);
  }
}

.mb-last-p-0 {
  p:last-child {
    margin-bottom: 0;
  }
}

#morgane {
  flex-grow: 1;
  background-image: image-url("morgane_latouche_reflexologue_cancale.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vw;
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    min-height: 40vw;
  }
}
#cabinet {
  flex-grow: 1;
  background-image: image-url("morgane_latouche_reflexologue_cabinet_cancale.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vw;
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    min-height: 40vw;
  }
}
#pieds {
  flex-grow: 1;
  background-image: image-url("morgane_latouche_reflexologie_plantaire_cancale.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vw;
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    min-height: 40vw;
  }
}

#navbarLogo {
  opacity: 0;
}

.overflow-logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  opacity: 0.5;
  height: 80%;
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    left: 10%;
    opacity: 0.6;
    height: 90%;
  }
}

.text-small {
  @include font-size(0.85rem);
}
