<div class="pt-5 pb-4 bg-eucalyptus">
  <div class="container">
    <div class="row row-gap-4">
      <div class="col-12 col-md-4 col-lg-3">
        <ul class="list-unstyled lh-lg text-chocolate">
          <li>
            <a class="text-reset text-decoration-none" aria-current="page" href="<%= site_url('#section1') %>">Mon parcours</a>
          </li>
          <li>
            <a class="text-reset text-decoration-none" aria-current="page" href="<%= site_url('#section2') %>">Le toucher</a>
          </li>
          <li>
            <a class="text-reset text-decoration-none" aria-current="page" href="<%= site_url('#section3') %>">Prendre rendez-vous</a>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-link p-0 text-reset text-decoration-none"
              data-bs-toggle="modal"
              data-bs-target="#termsModal"
            >
              Mentions légales
            </button>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <div class="text-chocolate">
          <p>
            La réflexologie plantaire ne pose pas de diagnostic, ne se substitue pas au traitement prescrit par votre médecin, ne remplace pas une consultation médicale.
          </p>
          <p>Ce site ne dépose pas de cookies.</p>
        </div>
        <div class="d-flex justify-content-start align-items-center column-gap-2">
          <span class="text-chocolate">Copyright <%= Date.today.year %> • Morgane Crec'hmine Latouche - Réflexologie plantaire thérapeutique</span> • </span>
          <a class="fs-5 text-chocolate" href="https://www.instagram.com/morgane_latouche_crechmine/" target="instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Mentions légales</h5>
        <button type="button" class="btn btn-link" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-circle-xmark text-coral"></i>
        </button>
      </div>

      <div class="modal-body">
        <div>Morgane Latouche</div>
        <div>La Ville Es Poulains, 35260 Cancale</div>
        <div>morganelatouche35@gmail.com</div>

        <div class="pt-3">Hébergé par GitHub Pages</div>
      </div>
    </div>
  </div>
</div>
