<nav id="navbar" class="bg-white fixed-top">
  <div class="container-fluid py-2">
    <div class="d-flex justify-content-between align-items-center">
      <a
        class="p-lg-0 mx-lg-3"
        href="<%= root_url_or_scroll_to_top(current_page.url) %>"
      >
        <%= image_tag('logo_morgane_latouche_reflexologie_plantaire.png', alt: 'Morgane Latouche', class: 'height-navbar') %>
      </a>
      <div class="no-scrollspy p-lg-0 mx-lg-3 caveat-bold fs-3 text-wood">
        Morgane Crec'hmine Latouche
      </div>
      <a
        class="p-lg-0 ms-lg-2 ms-xl-3 fs-5 text-wood"
        href="https://www.instagram.com/morgane_latouche_crechmine/"
        target="instagram"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
