<nav id="navbar" class="bg-off-white fixed-top">
  <div class="container-fluid py-2">
    <div class="d-flex justify-content-between align-items-center">
      <a
        class="p-lg-0 mx-lg-3"
        href="<%= root_url_or_scroll_to_top(current_page.url) %>"
      >
        <%= image_tag('logo_morgane_latouche_reflexologie_plantaire.png', alt: 'Morgane Latouche', class: 'height-navbar') %>
      </a>
      <div class="no-scrollspy p-lg-0 mx-lg-3 playfair-semibold fs-2 text-ebony text-uppercase">
        Morgane Crec'hmine Latouche
      </div>
      <a
        class="badge rounded-pill text-bg-terracotta notosans-regular text-decoration-none px-3 footer"
        href="<%= site_url('#prendrerdv') %>"
      >
        Réserver
      </a>
    </div>
  </div>
</nav>
