@import 'notosans';
@import 'notosans-italic';
@import 'mistral';

.notosans-regular {
  font-family: 'Noto Sans';
  font-weight: 400;
}
.notosans-semibold {
  font-family: 'Noto Sans';
  font-weight: 600;
}
.notosans-bold {
  font-family: 'Noto Sans';
  font-weight: 700;
}
.notosans-italic-regular {
  font-family: 'Noto Sans Italic';
  font-weight: 400;
}
.notosans-italic-semibold {
  font-family: 'Noto Sans Italic';
  font-weight: 600;
}
.notosans-italic-bold {
  font-family: 'Noto Sans Italic';
  font-weight: 700;
}

.mistral {
  font-family: 'Mistral';
}
