@import 'caveat';
@import 'crimson-text-bold';
@import 'crimson-text-regular';
@import 'crimson-text-semibold';

.caveat-regular {
  font-family: 'Caveat';
  font-weight: 400;
}

.caveat-bold {
  font-family: 'Caveat';
  font-weight: 700;
}

.crimson-text-bold {
  font-family: 'Crimson Text Bold';
}

.crimson-text-regular {
  font-family: 'Crimson Text Regular';
}

.crimson-text-semibold {
  font-family: 'Crimson Text SemiBold';
}
