<section>
  <div class="container position-relative">
    <%= image_tag('logo_morgane_latouche_reflexologie_plantaire.png', class: 'overflow-logo') %>
    <h1 class="text-center text-ebony notosans-italic-regular">
      Vous accompagner <span class="notosans-italic-semibold">vers un mieux-vivre</span><br>grâce à la réflexologie plantaire thérapeutique
    </h1>
  </div>
</section>

<section id="section1" class="bg-off-white">
  <div class="container">
    <div class="row py-4 py-lg-5 gx-5">
      <div class="col-12 col-lg-5 d-flex align-items-center position-relative">
        <div id="morgane" class="z-1"></div>
        <div class="color-block-jute"></div>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
        <div>
          <h2 class="text-ebony">
            En chemin vers le vivant
          </h2>
          <div class="text-ebony mb-last-p-0">
            <p>
              C'est sans doute parce que la maladie et le mal être se sont invités très tôt sous notre toit familial que j'ai appris, dès petite à <strong>danser et chanter sous la pluie</strong>.
            </p>
            <p>
              D'aussi loin que je me souvienne, je n'ai jamais cessé de sourire à la vie et de l'inviter chaque jour à mes côtés.
              Cette force vive, je l'ai puisée dans <strong>mes racines bretonnes</strong>. Petite-fille de paysan, j'ai vu mon grand-père travailler sa terre avec patience et révérence.
            </p>
            <p>
              De lui, j'ai retenu l'importance de cultiver mon jardin avec justesse, respect et ténacité pour le voir s'épanouir, se déployer.
              De ma maman, ancienne commerçante, j'ai développé le goût des rencontres, le sens de l'empathie et de l'accueil.
            </p>
            <p>
              C'est avec ces valeurs que je me suis construite et que j'ai nourri mon rêve de créer une maison d'hôtes.
              <strong>« La Marchande de sable »</strong> a ouvert ses portes en 2013. J'y ai accueilli de nombreux et fidèles voyageurs et leurs histoires.
            </p>
            <p>
              De ce nouveau chemin et de mes diverses expériences passées a jailli l'envie d'apprendre un nouveau langage.
              A la fois  universel et sur mesure, <strong>l'art du toucher</strong> s'est imposé à moi.
              C'est alors que la réflexologie plantaire m'a trouvée et a révélé  mon être thérapeute.
            </p>
            <p>
              Mon socle de connaissances, je l'ai reçu de <strong>Gwenn Libouban</strong>, réflexothérapeute, et <strong>Paolo Malvarosa</strong>, psychothérapeute.
              C'est à leurs côtés que j'ai appris à « polir » mes mains, mais aussi à mieux me connaître pour mieux vous rencontrer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h3 text-jute-dark bg-white">
    Aujourd'hui <strong>artisane de la pleine santé</strong><br>et éternelle apprentie du vivant,<br>je vous accompagne sur votre chemin<br>et ajuste vos pas <strong>pour des lendemains plus éclairés</strong>.
  </div>
</section>

<section id="section2" class="bg-off-white">
  <div class="container">
    <div class="row py-4 py-lg-5 gx-5">
      <div class="col-12 col-lg-5 d-flex align-items-center position-relative">
        <div id="cabinet" class="z-1"></div>
        <div class="color-block-wood"></div>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
        <div>
          <h2 class="text-ebony">
            Le langage par le toucher
          </h2>
          <div class="text-ebony mb-last-p-0">
            <p>
              Une séance de réflexologie entre mes mains, c'est tout d'abord <strong>un accueil attentif, en douceur, en confiance et avec le sourire</strong>.
              J'apporte une attention particulière aux premiers regards, aux premiers gestes déployés, aux premiers mots déposés.
              Confortablement allongé·e sur un matelas de laine, je prends vos talons dans mes paumes et ajuste ma respiration sur la vôtre.
            </p>
            <p>
              Mes mains se connectent alors à tout votre être et vous invite à plus d'ancrage.
              Ensemble, nous créons <strong>un espace de relation unique</strong> et juste pour chacun de nous. Mes pouces à vos pieds seront mes antennes.
              Chargés de détecter les zones de votre corps à accompagner, ils sont des guides pour <strong>vous mener sur votre chemin de transformation</strong>.
            </p>
            <p>
              Par la cartographie des points réflexes et ma « boîte à outils » qui s'étoffe au fur et à mesure de ma pratique et de mes expériences, je fais <strong>une lecture minutieuse de vos corps</strong> pour tendre vers plus d'équilibre.
            </p>
            <p>
              Avoir <strong>des mains qui ressentent et des oreilles qui écoutent</strong> nécessitent de l'expérience, de la patience et de l'endurance.
              C'est pourquoi je continue de nourrir mon toucher, afin que mon savoir-faire et mon laisser faire vous ouvrent des voies plus claires.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h3 text-wood bg-white">
    Chacun de nous est <strong>un instrument unique</strong>.<br>Mon travail de réflexothérapeute est de <strong>l’accueillir</strong>,<br>de <strong>l’écouter</strong> et de <strong>l’accorder</strong> pour qu’il sonne juste.
  </div>
</section>

<section id="section3" class="bg-off-white">
  <div class="container">
    <div class="row py-4 py-lg-5 gx-5">
      <div class="col-12 col-lg-5 d-flex align-items-center position-relative">
        <div id="pieds" class="z-1"></div>
        <div class="color-block-chocolate"></div>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
        <div>
          <h2 class="text-ebony">
            Vous accueillir
          </h2>
          <div class="text-ebony mb-last-p-0">
            <p>
              Les dates que je vous propose sont celles où je vous accueille <strong>dans mon cabinet à Cancale, au lieu-dit La Ville Es Poulains</strong>. Sur rendez-vous uniquement.<br>
              Elles tiennent compte des séances de réflexologie que je dispense aussi à La Ferme du Vent et pour Jeûner Côté Mer.
            </p>
            <p>
              Chaque séance dure <strong>1h</strong> et est au tarif de <strong>70€</strong>.
            </p>
            <p>
              Il n'y a pas de contre-indication à la réflexologie plantaire, tant qu'elle est pratiquée de manière personnalisée, n'hésitez pas à m'informer de votre état (femme enceinte, problèmes de santé chroniques ou ponctuels) lors de la prise de rendez-vous.
            </p>
            <p>
              La réflexologie est un moment de calme dans le partage, il est libre d'échanger ou non lors de la séance, cela se fait au ressenti de chacun.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="prendrerdv" class="h3 text-chocolate-light bg-white">
    <strong>Pour prendre rendez-vous</strong> ou pour toute question,<br>merci de me contacter au <strong>06 62 30 49 89</strong>.
  </div>
</section>
