<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="position-relative">
          <%= image_tag('logo_morgane_latouche_reflexologie_plantaire.png', class: 'overflow-logo') %>
          <h1 class="m-0 mt-3 mb-4 text-center text-ebony notosans-italic-regular position-relative">
            Vous accompagner <span class="notosans-italic-semibold">vers un mieux-vivre</span><br>grâce à la réflexologie plantaire thérapeutique
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section1" class="bg-off-white pt-5 position-relative">
  <%= image_tag('feuille_1.png', class: 'position-absolute top-0 end-0 translate-middle-y') %>
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-lg-5">
        <div class="position-relative">
          <div id="morgane" class="position-relative z-1"></div>
          <div class="color-block-half-left-jute"></div>
        </div>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
        <div>
              <h2 class="playfair-semibold text-uppercase text-ebony text-start mt-0 mb-4">
            Ce parcours qui m’a forgée
          </h2>
          <div class="notosans-regular text-ebony ps-4">
            <p>
              Le soin a toujours fait partie de moi, il est jusque dans mes cellules.
              Par la maladie j'ai découvert <span class="notosans-semibold">le combat pour la vie</span> dès petite.
              Il a toujours fait partie de mon évolution et m'a poussée à nourrir cette vie de liens forts tissés de rencontres, de mouvements et d'apprentissages.
            </p>
            <p>
              De fil en aiguille, j'ai ouvert <span class="notosans-semibold">ma maison d'hôtes</span> à de nombreux voyageurs et accueilli leurs histoires, ce fût le début de mon engagement dans le soin pour l'autre.
            </p>
            <p class="notosans-semibold">
              La réflexologie plantaire m'a alors rencontrée.
            </p>
            <p>
              Mon socle de connaissances, je l'ai reçu de Gwenn Libouban, réflexothérapeute, et Paolo Malvarosa, psychothérapeute.
              C'est à leurs côtés que j'ai appris à “polir” mes mains, mais aussi à <span class="notosans-semibold">mieux me connaître pour mieux vous rencontrer.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 position-relative">
    <%= image_tag('feuille_2.png', class: 'position-absolute top-50 end-0 translate-middle-y') %>
    <div class="h3 notosans-italic-regular text-wood-light text-center p-5 bg-white mt-5 mx-0">
      Aujourd'hui <span class="notosans-italic-semibold">artisane de la pleine santé</span><br>et en même temps éternelle apprentie du vivant,<br>je vous accompagne sur votre chemin<br>et allège vos pas <span class="notosans-italic-semibold">vers une meilleure connaissance de soi</span>.
    </div>
  </div>
</section>

<section id="section2" class="bg-off-white pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="position-relative mb-5">
          <div class="color-block-bottom-left-chocolate-dark"></div>
          <div id="cabinet" class="position-relative z-1"></div>
        </div>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
        <div>
              <h2 class="playfair-semibold text-ebony text-uppercase text-start mt-0 mb-4">
            Le langage par le toucher
          </h2>
          <div class="notosans-regular text-ebony ps-4">
            <p>
              Une séance de réflexologie entre mes mains, c'est tout d'abord <span class="notosans-semibold">un accueil attentif, en douceur, en confiance et avec le sourire</span>.
              J'apporte une attention particulière aux premiers regards, aux premiers gestes déployés, aux premiers mots échangés.
              <span class="notosans-semibold">Chaque rencontre doit être unique pour être juste et vraie.</span>
            </p>
            <p>
              Le soin se déroule allongé·e confortablement sur un matelas en laine.
              Vos talons dans mes paumes, ma respiration calquée sur la vôtre, je me connecte à tout votre être et vous invite à plus d'ancrage.1h
              Ensemble, nous allons créer un espace de relation unique. Mes pouces à vos pieds seront mes antennes.
              <span class="notosans-semibold">Chargés de détecter les zones de votre corps à accompagne, ils seront des guides vers un chemin de transformation.</span>
            </p>
            <p>
              Par la cartographie des points réflexes et ma "boîte à outils", étoffée au fur et à mesure de ma pratique et par mes expériences, je fais une lecture minutieuse de vos corps pour <span class="notosans-semibold">vous amener vers plus d'équilibre</span>.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="h3 notosans-italic-regular text-chocolate text-center p-5 bg-white mt-5 mx-0">
      Avoir <span class="notosans-italic-semibold">des mains qui ressentent et des oreilles qui écoutent</span><br>nécessitent de l'expérience, de la patience et de l'endurance.<br>
      C'est pourquoi je continue de nourrir mon toucher, afin que <br>mon savoir-faire et mon laisser faire <span class="notosans-italic-semibold">vous ouvrent des voies plus claires</span>.
    </div>
  </div>
</section>

<section id="section3" class="bg-off-white pt-5">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-lg-7 d-flex flex-column justify-content-center pe-4">
        <div>
              <h2 class="playfair-semibold text-uppercase text-ebony text-start mt-0 mb-4 ms-0">
            Vous accueillir
          </h2>
          <div class="notosans-regular text-ebony">
            <p>
              Les dates que je vous proposemiddi sont celles où je vous accueille <span class="notosans-semibold">dans mon cabinet à Cancale, au lieu-dit La Ville Es Poulains</span>. Sur rendez-vous uniquement.<br>
              Elles tiennent compte des séances de réflexologie que je dispense aussi à La Ferme du Vent et pour Jeûner Côté Mer.
            </p>
            <p class="notosans-semibold">
              Chaque séance dure 1h et est au tarif de 70€.
            </p>
            <p>
              Il n'y a pas de contre-indication à la réflexologie plantaire, tant qu'elle est pratiquée de manière personnalisée, n'hésitez pas à m'informer de votre état (femme enceinte, problèmes de santé chroniques ou ponctuels) lors de la prise de rendez-vous.
            </p>
            <p>
              La réflexologie est un moment de calme dans le partage, il est libre d'échanger ou non lors de la séance, cela se fait au ressenti de chacun.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="position-relative">
          <div class="color-block-half-right-terracotta"></div>
          <div id="pieds" class="position-relative z-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="prendrerdv" class="col-12 position-relative">
    <%= image_tag('feuille_3.png', class: 'position-absolute top-0 start-0 translate-middle-y') %>
    <div class="h3 notosans-italic-regular text-terracotta text-center p-5 bg-white mt-5 mx-0">
      <span class="notosans-italic-semibold">Pour prendre rendez-vous</span> ou pour toute question,<br>merci de me contacter au <span class="notosans-italic-semibold">06 62 30 49 89</span>.
    </div>
  </div>
</section>
