<div class="overflow-hidden">
  <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-smooth-scroll="true" data-bs-root-margin="0px 0px -40%">
    <section class="py-5 position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="m-0 mt-3 mb-4 text-center text-wood crimson-text-semibold">
              Vous accompagner vers un mieux-vivre<br>grâce à la réflexologie plantaire thérapeutique
            </h1>
          </div>
        </div>
      </div>
    </section>

    <section id="section1" class="bg-off-white pt-5 positon-relative">
      <%= image_tag('feuille_1.png', class: 'position-absolute top-50 end-0 translate-middle-y') %>
      <div class="container">
        <div class="row py-5">
          <div class="col-12 col-lg-5">
            <div class="position-relative">
              <div id="morgane" class="position-relative z-1"></div>
              <div class="color-block-half-left-wood-light"></div>
            </div>
          </div>
          <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
            <div>
              <h2 class="caveat-bold text-chocolate text-center mt-0 mb-4 mx-0">
                Ce parcours qui m’a forgée
              </h2>
              <div class="crimson-text-regular text-chocolate ps-4">
                <p>
                  Le soin a toujours fait partie de moi, il est jusque dans mes cellules.
                  Par la maladie j’ai découvert <span class="crimson-text-semibold">le combat pour la vie</span> dès petite.
                  Il a toujours fait partie de mon évolution et m’a poussée à nourrir cette vie de liens forts tissés de rencontres, de mouvements et d’apprentissages.
                </p>
                <p>
                  De fil en aiguille, j’ai ouvert <span class="crimson-text-semibold">ma maison d’hôtes</span> à de nombreux voyageurs et accueilli leurs histoires, ce fût le début de mon engagement dans le soin pour l’autre.
                </p>
                <p class="crimson-text-semibold">
                  La réflexologie plantaire m’a alors rencontrée.
                </p>
                <p>
                  Mon socle de connaissances, je l’ai reçu de Gwenn Libouban, réflexothérapeute, et Paolo Malvarosa, psychothérapeute.
                  C’est à leurs côtés que j’ai appris à “polir” mes mains, mais aussi à <span class="crimson-text-semibold">mieux me connaître pour mieux vous rencontrer.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 position-relative">
        <%= image_tag('feuille_2.png', class: 'position-absolute top-50 end-0 translate-middle-y') %>
        <div class="h3 caveat-bold text-wood text-center p-5 bg-white mt-5 mx-0">
          Aujourd’hui artisane de la pleine santé<br>et en même temps éternelle apprentie du vivant,<br>je vous accompagne sur votre chemin<br>et allège vos pas vers une meilleure connaissance de soi.
        </div>
      </div>
    </section>

    <section id="section2" class="bg-off-white pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5">
            <div class="position-relative mb-5">
              <div class="color-block-bottom-left-chocolate"></div>
              <div id="cabinet" class="position-relative z-1"></div>
            </div>
          </div>
          <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
            <div>
              <h2 class="caveat-bold text-chocolate text-center mt-0 mb-5 mx-0">
                Le langage par le toucher
              </h2>
              <div class="crimson-text-regular text-chocolate ps-4">
                <p>
                  Quand je suis à vos pieds, mes mains deviennent des guides.
                  <span class="crimson-text-semibold">Elles commencent par vous ancrer, vous invitent à vous déposer là.</span>
                  De là, la rencontre permet d’ouvrir une des portes qui vous emmène à un chemin de transformation.
                  En conscience, dans l’unité, pour l’équilibre.
                </p>
                <p>
                  Avec la cartographie des points réflexes et ma “boîte à outils”, je fais une lecture minutieuse de vos corps.
                </p>
                <p>
                  Avoir des mains qui ressentent et des oreilles qui écoutent nécessitent de l’expérience, de la patience et de l’endurance.
                  C’est pourquoi je continue de nourrir mon toucher, afin que <span class="crimson-text-semibold">mon savoir-faire et mon laisser faire vous ouvrent des voies plus claires</span>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="h3 caveat-bold text-wood text-center p-5 bg-white mt-5 mx-0">
          Chacun de nous est un instrument unique.<br>Mon travail de réflexothérapeute est de l’accueillir,<br>de l’écouter et de l’accorder pour qu’il sonne juste.
        </div>
      </div>
    </section>

    <section id="section3" class="bg-off-white pt-5">
      <div class="container">
        <div class="row py-5">
          <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
            <div>
              <h2 class="caveat-bold text-chocolate text-center mt-0 mb-5">
                Vous accueillir
              </h2>
              <div class="crimson-text-regular text-chocolate">
                <p>
                  Les dates proposées ici sont celles où je vous accueille <span class="crimson-text-semibold">dans mon cabinet à Cancale, au lieu-dit La Ville Es Poulains</span>. Sur rendez-vous uniquement.<br>
                  Elles tiennent compte des séances de réflexologie que je dispense aussi à La Ferme du Vent et pour Jeûner Côté Mer.
                </p>
                <p class="crimson-text-semibold">
                  Chaque séance dure 1h et est au tarif de 70€.
                </p>
                <p>
                  Il n’y a pas de contre-indication à la réflexologie plantaire, tant qu’elle est pratiquée de manière personnalisée, n’hésitez pas à m’informer de votre état (femme enceinte, problèmes de santé chroniques ou ponctuels) lors de la prise de rendez-vous.
                </p>
                <p>
                  La réflexologie est un moment de calme dans le partage, il est libre d’échanger ou non lors de la séance, cela se fait au ressenti de chacun.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <div class="position-relative">
              <div class="color-block-half-right-rust"></div>
              <div id="pieds" class="position-relative z-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="prendrerdv" class="col-12 position-relative">
        <%= image_tag('feuille_3.png', class: 'position-absolute top-0 start-0 translate-middle-y') %>
        <div class="h3 caveat-bold text-wood text-center p-5 bg-white mt-5 mx-0">
          Pour prendre rendez-vous ou pour toute question,<br>merci de me contacter au 06 62 30 49 89.
        </div>
      </div>
    </section>
  </div>
</div>
